/* Coffee Shop Theme */

/* Global Styles */

html {
  background-color: #f5f5f5; /* Creamy white */
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  background-color: #f5f5f5; /* Creamy white */
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  color: #856d55;
  font-size: 18px;
  text-align: center;
}

label {
  color: #856d55; /* Dark gray */
  font-size: 14px;
}

/* Container Styles */

#frame_container {
  display: flex;
  background-color: #bfabab; /* Light gray */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#left_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #bfabab; /* Light gray */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Specific styles for each iframe */

.iframe-left {
  overflow: scroll;
}

.iframe-center {
  width: 40%; /* Adjust width as needed */
}

.iframe-right {
  width: 30%; /* Adjust width as needed */
}
/* Form Styles */

.form_container {
  overflow: scroll;
  padding: 20px;
  border-radius: 10px;
}

.form label {
  color: #666; /* Dark gray */
  font-size: 14px;
}

form input[type="file"],
form input[type="submit"],
form button {
  background-color: #856d55; /* Rich brown */
  color: #fff; /* White */
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="file"]:hover,
form input[type="submit"]:hover,
form button:hover {
  background-color: #856d55; /* Darker brown */
}
#message,
#topic {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Graph Styles */

#graph-container {
  background-color: #f0f0f0; /* Light gray */
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

svg {
  background-color: #fff; /* White */
}

.node circle {
  fill: #ffc080; /* Warm beige */
  stroke: #856d55; /* Rich brown */
  stroke-width: 2px;
}

.node rect {
  fill: #c9e4ca; /* Light green */
  stroke: #856d55; /* Rich brown */
  stroke-width: 2px;
}

.link {
  stroke: #754975; /* Rich brown */
  stroke-width: 2px;
}

.link:hover {
  stroke: #633974; /* Darker brown */
}
/*table styling*/

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f0f0f0; /* Light beige color */
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  color: #000000; /* Dark brown color */
}

th {
  background-color: #856d55; /* Dark brown color */
  color: #fff; /* White color */
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9; /* Light gray color */
}

/* Additional Styles */

.placeholder {
  color: #bfabab; /* Dark gray */
  font-size: 18px;
}

.coffee-cup {
  background-image: url("coffee-cup.png"); /* Replace with your own image */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
